.ml10 {
    margin-left: 10px;
}

.scrollable-table-area {
    max-height: 350px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.button-group {
    .fa {
        margin-right: 6px;
    }
}
