.fixed-button {
    border-radius: 50% 50%;
    font-size: 24px;
    line-height: 48px;
    background-color: #23d160;
    color: #fff;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 260px;
}


.buttons-col {
    .fa {
        margin-right: 6px;
    }
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.scrollable-area {
    max-height: 350px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
