<div class="modal-card">
    <form>
        <header class="modal-card-head">
            <p class="modal-card-title">
                <i class="fas fa-coffee"></i>
                商品設定
            </p>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">
                    <small class="has-text-danger">*</small>
                    商品名:
                </label>
                <div class="control">
                    <input
                        type="text"
                        class="input"
                        v-model="item.name">
                </div>
                <small class="help is-danger" v-for="error in errors.name">
                    {{ error }}
                </small>
            </div>
            <div class="field">
                <label class="label">
                    <small class="has-text-danger">*</small>
                    単価:
                </label>
                <div class="control">
                    <input 
                        type="number"
                        class="input has-text-right"
                        v-model.number="item.unit_price">
                </div>
                <small class="help is-danger" v-for="error in errors.unit_price">
                    {{ error }}
                </small>
            </div>
            <div class="field">
                <label class="label">
                    <small class="has-text-danger">*</small>
                    カテゴリ:
                </label>
                <b-select
                    placeholder="商品カテゴリを選択してください"
                    v-model="item.category_id">
                    <option
                          v-for="c in getCategories"
                          :value="c.id"
                          :key="c.id">
                        {{ c.name }}
                    </option>
                </b-select>
                <small class="help is-danger" v-for="error in errors.category_id">
                    {{ error }}
                </small>
            </div>
        </section>
        <footer class="modal-card-foot buttons is-right">
            <button
                type="button"
                class="button"
                @click="$parent.close()">
                閉じる
            </button>
            <button
                type="button"
                class="button is-info"
                @click="handleSave()">
                <i class="fa fa-save"></i>
                保存
            </button>
        </footer>
    </form>
</div>
