<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row center-block">
        <div class="col-xs-8 col-md-8 col-xs-offset-1 col-md-offset-1">
          <h3>商品カテゴリ設定</h3>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-right" colspan="2">
                    <button type="button" class="btn btn-success" data-bind="click: onShowAddForm">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      新規
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody data-bind="foreach: categories">
                <tr>
                  <td>
                    <p class="form-control-static" data-bind="text: name"></p>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.onShowEditForm">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      編集
                    </button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.onShowRemoveAlert">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      削除
                    </button>
                  </td>
              </tbody>
            </table>
          </div> <!-- table-responsive -->
        </div> <!-- col-xs-8 etc... -->
      </div> <!-- row center-block -->

      <!-- Delete comfirm dialog -->
      <div id="removeAlert" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header alert alert-danger">
              <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
              </button>
              <h4>
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                データ削除
              </h4>
            </div>
            <div class="modal-body">
              <p>選択したデータを削除します。よろしいですか？</p>
              <form data-bind="with: category">
                <input type="hidden" data-bind="value: id" />
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">はい</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">いいえ</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Entry form -->
      <div id="entryForm" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header alert alert-info">
              <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
              </button>
              <h4>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                商品カテゴリ登録
              </h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" type="post" data-bind="with: category">
                <div class="form-group">
                  <label class="col-xs-3 control-label">カテゴリ名:</label>
                  <div class="col-xs-5">
                    <input type="text" class="form-control" data-bind="value: name" placeholder="最大20文字" />
                  </div>
                </div>
              </form>
            </div> <!-- modal-body -->
            <div class="modal-footer">
              <!-- ko if: $root.isAdd -->
                <button type="button" class="btn btn-primary" data-bind="click: $root.onAdd">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  保存
                </button>
              <!-- /ko -->
              <!-- ko ifnot: $root.isAdd  -->
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  編集
                </button>
              <!-- /ko -->
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                閉じる
              </button>
            </div>
          </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
      </div> <!-- entryForm -->
    </div> <!-- container -->
  </body>
</html>
<!-- Bootstrap.css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- My app stylesheet -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Knockout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/category.js"></script>
