<!-- Delete confirm dialog -->
<div id="removeAlert" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
        <button type="button" class="close" data-dismiss="modal">
          <span>x</span>
        </button>
        <h4>
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          データ削除
        </h4>
      </div>
      <div class="modal-body">
        <p>選択したデータを削除します。よろしいですか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="click: onRemove">はい</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">いいえ</button>
      </div>
    </div>
  </div>
</div>
