{% extends 'layout.html' %}
{% block body %}
<div class="row center-block">
  <div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">売上月:</label>
        <div class="col-md-3">
          <input type="month" class="form-control" data-bind="value: month, event: {change: onGetMonthlySales}" />
        </div>
      </div>
    </form>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center danger text-danger">日</th>
          <th class="text-center active">月</th>
          <th class="text-center active">火</th>
          <th class="text-center active">水</th>
          <th class="text-center active">木</th>
          <th class="text-center active">金</th>
          <th class="text-center info text-info">土</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: monthlySales">
        <tr data-bind="foreach: $data">
            <td class="text-center">
                <div class="text-day" data-bind="text: sales_day"></div>
                <a href="#" data-bind="text: amount"></a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block static %}
<script src="../static/js/app.js"></script>
<script src="../static/js/monthly_sales.js"></script>
{% endblock %}
