<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title></title>
  <style>
    .text-day {
      font-size: 1.5em;
      font-weight: bold;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-2 control-label">売上月:</label>
              <div class="col-md-3">
                <input type="month" class="form-control" data-bind="value: month, event: {change: onFind}" />
              </div>
            </div>
          </form>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center danger text-danger">日</th>
                <th class="text-center active">月</th>
                <th class="text-center active">火</th>
                <th class="text-center active">水</th>
                <th class="text-center active">木</th>
                <th class="text-center active">金</th>
                <th class="text-center info text-info">土</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: calendar">
              <tr data-bind="foreach: $data">
                  <td class="text-center">
                    <!-- ko if: day -->
                      <div class="text-day" data-bind="text: day"></div>
                      <a href="#" data-bind="text: amount"></a>
                    <!-- /ko -->
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- container -->
  </body>
</html>
<!-- Bootstrap.css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- My app stylesheet -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Bootstrap.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Knockout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
<script src="../static/js/monthly_sales.js"></script>
