<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- お会計パネル -->
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">お会計</h4>
            </div>
            <div class="panel-body" data-bind="with: sales">
              <form class="form-horizontal">
                <table class="table table-responsive table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">商品</th>
                      <th class="text-center">単価</th>
                      <th class="text-center">数量</th>
                      <th class="text-center">小計</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: items">
                    <tr>
                      <td colspan="5" data-bind="text: product_name"></td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="2" data-bind="text: price"></td>
                      <td class="text-right" data-bind="text: quantity"></td>
                      <td class="text-right" data-bind="text: subtotal"></td>
                      <td>
                        <button type="button" class="btn btn-default" data-bind="click: $root.onReduce">
                          <span class="glyphicon glyphicon-minus-sign text-danger" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table> <!-- table -->
                <table class="table table-responsive table-striped">
                  <tbody>
                    <tr>
                      <td><label class="control-label">値引</label></td>
                      <td>
                        <input type="number" class="form-control text-right" data-bind="value: discount" min=0 />
                      </td>
                    </tr>
                    <tr>
                      <td><label class="control-label">合計</label></td>
                      <td class="text-right">
                        <span class="form-control-static" data-bind="text: total"></span>
                        <span class="form-control-static">円</span>
                      </td>
                    </tr>
                    <tr>
                      <td><label class="control-label">お預かり</label></td>
                      <td>
                        <input type="number" class="form-control text-right" min=0 data-bind="value: deposit" />
                        <span class="form-control-static">円</span>
                      </td>
                    </tr>
                    <tr>
                      <td><label class="control-label">おつり</label></td>
                      <td class="text-right">
                        <p class="form-control-static" data-bind="text: change"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- col-xs-5 -->
        <!-- 商品選択パネル  -->
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">商品リスト</h4>
            </div>
            <!-- 商品カテゴリパネル -->
            <div class="panel-body">
              <table class="table">
                <tbody data-bind="foreach: categories">
                  <tr data-bind="foreach: $data">
                    <td>
                      <button class="btn btn-default" data-bind="text: name, click: $root.onSwitchProducts"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- panel-body -->
            <!-- 商品パネル -->
            <div class="panel-body">
              <table class="table">
                <tbody data-bind="foreach: products">
                  <tr data-bind="foreach: $data">
                    <td>
                      <button class="btn btn-default" data-bind="click: $root.onAdd">
                        <span data-bind="text: name">
                        <span data-bind="text: price">
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- panel-body -->
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-primary" data-bind="click:onSave" >預</button>
                <button type="button" class="btn btn-lg btn-default" data-bind="click: onSwitchDiscountPrice">¥割</button>
                <button type="button" class="btn btn-lg btn-default" data-bind="click: onSwitchDiscountRate">%割</button>
                <button type="button" class="btn btn-lg btn-danger" data-bind="click: $root.onResetAll">AC</button>
              </fieldset>
            </div>
          </div> <!-- panel -->
        </div> <!-- col-md-7 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </body>
</html>
<!-- Bootstrap.css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- My app stylesheet -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Knockout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/register.js"></script>
