<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- お会計パネル -->
        <!-- 商品選択パネル  -->
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">商品リスト</h4>
            </div>
            <!-- 商品カテゴリパネル -->
            <div class="panel-body">
              <table class="table">
                <tbody data-bind="foreach: categories">
                  <tr data-bind="foreach: $data">
                    <td>
                      <button class="btn btn-default" data-bind="text: name"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- panel-body -->
            <!-- 商品パネル -->
            <div class="panel-body">
              <table class="table">
                <tbody data-bind="foreach: products">
                  <tr data-bind="foreach: $data">
                    <td>
                      <button class="btn btn-default">
                        <span data-bind="text: name">
                        <span data-bind="text: price">
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- panel-body -->
        </div> <!-- col-md-7 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </body>
</html>
<!-- Bootstrap.css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- My app stylesheet -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Knockout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
<script src="../static/js/register.js"></script>
