{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<div class="row center-block">
<div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>消費税設定</h4>
    </div>
    <div class="panel-body">
    <form class="form-horizontal" data-bind="with: tax">
      <fieldset class="form-group">
        <label class="col-xs-3 control-label">税区分:</label>
        <div class="col-xs-6">
          <label class="radio-inline">
            <input type="radio" name="tax_type" data-bind="checked: tax_type" value="in" checked />内税
          </label>
          <label class="radio-inline">
            <input type="radio" name="tax_type" data-bind="checked: tax_type" value="out" />外税
          </label>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label class="col-xs-3 control-label">税率:</label>
        <div class="col-xs-3">
          <input type="number" class="form-control text-right" data-bind="value: rate" min="1" max="99" placeholder="1〜99%" />
        </div>
        <div class="col-xs-1">
          <p class="form-control-static">％</p>
        </div>
      </fieldset>
      <div class="col-xs-7 text-right">
        <button type="button" class="btn btn-primary" data-bind="click: $root.onSave">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          保存
        </button>
      </div>
    </div>
  </div> <!-- panel -->
  </form>
</div>
</div> <!-- center-block -->
{% endblock %}

{% block static %}
<script src="../static/js/app.js"></script>
<script src="../static/js/tax.js"></script>
{% endblock %}
