.flash-message {
    margin-top: 50px;
}

/**
 * margin
 */
.ml5 {
    margin-left: 5px;
}

/**
 * validation error style
 */
.validation-errors {
    list-style: none;
    padding: 0;
}

.validation-errors > li {
    margin-top: 2px;
}

.validation-errors > li > .error-label {
    padding: 3px;
}

