.daily-sales-area {
    .daily-sales {
        margin-top: 14px;
    }
    margin-top: 10px;
    .table-header {
        // todo: do not important
        margin-bottom: 0px !important;
    }


    .table-header {
        .item-col {

        }
        .amount-col,
        .subtotal-col {
            width: 15%;
        }
    }

    .table-footer {
        th {
            width: 50%;
        }
    }
}
