<div class="container daily-sales-list">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <b-collapse class="card is-size-4">
                <header class="card-header" slot="trigger" slot-scope="props">
                    <p class="card-header-title">
                        <i class="fas fa-calendar-day"></i>
                        {{ title }}
                    </p>
                    <a class="card-header-icon">
                        <b-icon :icon="props.open ? 'angle-down' : 'angle-up'"></b-icon>
                    </a>
                </header>
                <section class="card-content">
                    <div class="content">
                        <form>
                            <div class="field is-grouped">
                                <b-datepicker
                                    placeholder="売上日"
                                    icon="fas fa-calendar-day">
                                </b-datepicker>
                            </div>
                            <div class="field is-grouped">
                                <b-timepicker
                                    placeholder=""
                                    icon=""
                                    editable>
                                </b-timepicker>
                                <span>〜</span>
                                <b-timepicker
                                    placeholder=""
                                    icon=""
                                    editable>
                                </b-timepicker>
                            </div>
                        </form>
                    </div>
                </section>
            </b-collapse>
            <div class="daily-sales-items">
                <daily-sales-item
                    v-for="item in dailySales"
                    :key="item.sales_id"
                    :dailySales="item" />
            </div>
        </div>
    </div>
</div>