<section class="section">
    <div class="columns">
        <div class="column is-5">
            <div class="box cashing-area">
                <h4 class="cash-header">
                    <i class="fas fa-cash-register"></i>
                    <span>お会計</span>
                </h4>
                <form>
                    <ul class="sales-items">
                        <li class="" v-show="!hasSalesItems">
                            <p class="has-text-centered">売上データはありません</p>
                        </li>
                        <li class="sales-item" v-for="item in normalTaxSalesItems" v-show="hasNormalTaxSalesItems">
                            <div class="is-clearfix">
                                <div class="is-pulled-left">
                                    <span class="item-name">
                                        <i class="fas fa-utensils"></i>
                                        {{ item.name }}
                                    </span>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="item-points">
                                        <span>{{ item.unit_price }}</span>
                                        <span>x</span>
                                        <span>{{ item.quantity }}</span>
                                    </div>
                                    <div class="sales-item-operations">
                                        <button type="button"
                                                class="button is-info"
                                                v-bind:disabled="isReducedTax"
                                                @click="handleIncreaseSalesItem(item)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button"
                                                class="button is-warning"
                                                v-bind:disabled="isReducedTax"
                                                @click="handleDecreaseSalesItem(item)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button"
                                                class="button is-danger"
                                                v-bind:disabled="isReducedTax"
                                                @click="handleDeleteItem(item)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sales-item" v-for="item in reducedTaxSalesItems" v-show="hasReducedTaxSalesItems">
                            <div class="is-clearfix">
                                <div class="is-pulled-left">
                                    <span class="item-name">
                                        <i class="fas fa-gift"></i>
                                        {{ item.name }}
                                    </span>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="item-points">
                                        <span>{{ item.unit_price }}</span>
                                        <span>x</span>
                                        <span>{{ item.quantity }}</span>
                                    </div>
                                    <div class="sales-item-operations">
                                        <button type="button"
                                                class="button is-info"
                                                v-bind:disabled="isNormalTax"
                                                @click="handleIncreaseSalesItem(item)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button"
                                                class="button is-warning"
                                                v-bind:disabled="isNormalTax"
                                                @click="handleDecreaseSalesItem(item)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button"
                                                class="button is-danger"
                                                v-bind:disabled="isNormalTax"
                                                @click="handleDeleteItem(item)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="cash-footer">
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">小計</p>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="has-text-right">{{ sales.total_price }}</div>
                                    <p class="help is-danger" v-for="error in errors.total_price">
                                        {{ error }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">
                                        値引<small>({{ discountUnit }})</small>
                                    </p>
                                </div>
                                <div class="is-pulled-right" v-show="isDiscountPrice">
                                    <div class="has-text-right">{{ sales.discount_price }}</div>
                                </div>
                                <div class="is-pulled-right" v-show="isDiscountRate">
                                    <div class="has-text-right">{{ sales.discount_rate }}</div>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">
                                        イートイン
                                        <small>
                                            (10%)
                                            <i class="fas fa-question-circle"></i>
                                        </small>
                                    </p>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="has-text-right">
                                        {{ sales.normal_tax_price }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">
                                        テイクアウト
                                        <small>
                                            (8%)
                                            <i class="fas fa-question-circle"></i>
                                        </small>
                                    </p>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="has-text-right">
                                        {{ sales.reduced_tax_price }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">合計</p>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="has-text-right">{{ grand_total_price }}</div>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">お預かり</p>
                                </div>
                                <div class="is-pulled-right footer-input-container">
                                    <div class="control">
                                        <input
                                            type="number"
                                            class="input input-number"
                                            v-model.number="sales.deposit"
                                            @focus="handleFocusDeposit()"
                                            readonly>
                                        <p class="help is-danger" v-for="error in errors.deposit">
                                            {{ error }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="footer-item">
                            <div class="is-clearfix">
                                <div class="is-pulled-left footer-label-container">
                                    <p class="footer-label">おつり</p>
                                </div>
                                <div class="is-pulled-right">
                                    <div class="has-text-right">{{ charge }}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="box item-selection-area">
                <ul class="categories">
                    <li class="category-button" v-for="category in categories">
                        <a class="category-name has-text-dark" @click="handleSwitchItems(category.id)">
                            {{category.name}}
                        </a>
                    </li>
                </ul>
                <ul class="items">
                    <li class="" v-show="!hasItems">
                        <p class="has-text-centered">商品が登録されていません</p>
                    </li>
                    <li class="item-button" v-for="item in currentItems" v-show="hasItems">
                        <div class="item-name">
                            {{item.name}}
                        </div>
                        <div class="price">
                            <small>{{item.unit_price}}</small>
                        </div>
                        <div class="item-operations">
                            <button type="button" class="button is-info" @click="handleAddSalesItem(item)">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" class="button is-danger" @click="handleDecreaseSalesItem(item.name)">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box cash-operations">
                <div class="is-clearfix">
                    <div class="is-pulled-left">
                        <div class="pad-buttons">
                            <button type="button" class="button pad-button" @click="handleClickNumPad('7')">7</button>
                            <button type="button" class="button pad-button" @click="handleClickNumPad()">8</button>
                            <button type="button" class="button pad-button" @click="handleClickNumPad()">9</button>
                        </div>
                        <div class="pad-buttons">
                            <button type="button" class="button pad-button">4</button>
                            <button type="button" class="button pad-button">5</button>
                            <button type="button" class="button pad-button">6</button>
                            <button type="button" class="button is-warning pad-button">C</button>
                        </div>
                        <div class="pad-buttons">
                            <button type="button" class="button pad-button">1</button>
                            <button type="button" class="button pad-button">2</button>
                            <button type="button" class="button pad-button">3</button>
                            <button type="button" class="button is-danger pad-button" @click="handleClearSales()">AC</button>
                        </div>
                        <div class="pad-buttons">
                            <button type="button" class="button pad-button-zero">0</button>
                            <button type="button" class="button pad-button">00</button>
                            <button type="button" class="button is-info pad-button" @click="handleSave()">預</button>
                        </div>
                    </div>
                    <div class="is-pulled-right">
                        <p class="operation-title">消費税</p>
                        <div class="buttons has-addons">
                            <button
                                type="button"
                                class="button option-button"
                                v-bind:class="{ 'is-info': isNormalTax }"
                                @click="handleSwitchNormalTax()">
                                <i class="fas fa-utensils"></i>
                                イートイン
                            </button>
                            <button
                                type="button"
                                class="button option-button"
                                v-bind:class="{ 'is-info': isReducedTax }"
                                @click="handleSwitchReducedTax()">
                                <i class="fas fa-gift"></i>
                                テイクアウト
                            </button>
                        </div>
                        <p class="operation-title">値引</p>
                        <div class="buttons has-addons">
                            <button
                                type="button"
                                class="button option-button"
                                v-bind:class="{ 'is-info': isDiscountPrice }"
                                @click="handleSwitchDiscountPrice()">
                                ¥割
                            </button>
                            <button
                                type="button"
                                class="button option-button"
                                v-bind:class="{ 'is-info': isDiscountRate }"
                                @click="handleSwitchDiscountRate()">
                                %割
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>