<div class="daily-sales-item-area">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title" :class="{ 'has-text-danger': dailySales.canceled }">
                {{ dailySales.sales_date | concatDateTime(dailySales.sales_time) }}
            </p>
            <div class="card-header-icon">
                <a href="#" class="has-text-danger" @click="handleCancel()" v-if="!dailySales.canceled">
                    <i class="fas fa-minus-circle"></i>
                    取消
                </a>
            </div>     
        </header>
        <section class="card-content">
            <table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th class="has-text-centered">商品</th>
                        <th class="has-text-centered">数量</th>
                        <th class="has-text-centered">小計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dailySales.items" :key="item.id">
                        <td>
                            <div>{{ item.item_name }}</div>
                            <div class="has-text-right">{{ item.unit_price }}</div>
                        </td>
                        <td class="has-text-right" :class="{ 'has-text-danger': dailySales.canceled }">
                            {{ item.quantity }}
                        </td>
                        <td class="has-text-right" :class="{ 'has-text-danger': dailySales.canceled }">
                            {{ item.subtotal }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="has-text-right" colspan="2">合計</th>
                        <td class="has-text-right" :class="{ 'has-text-danger': dailySales.canceled }">
                            {{ dailySales.total_price }}
                        </td>
                    </tr>
                    <tr>
                        <th class="has-text-right" colspan="2">値引{{ discountUnit  }}</th>
                        <td class="has-text-right" :class="{ 'has-text-danger': dailySales.discount > 0 }">
                            {{ dailySales.discount | formatDiscount(dailySales.discount_mode) }}
                        </td>
                    </tr>
                    <tr>
                        <th class="has-text-right" colspan="2">総合計</th>
                        <td class="has-text-right" :class="{ 'has-text-danger': dailySales.canceled }">
                            {{ dailySales.grand_total }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
</div>