<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <a href="/">Siphon</a>
        </a>
        <a role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="nav-groups">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="nav-groups" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable" v-for="m in menu">
                <a class="navbar-link is-arrowless">{{m.title}}</a>
                <div class="navbar-dropdown">
                    <router-link
                        v-for="s in m.submenu"
                        v-bind:key="s.title"
                        :to="{path: s.url}"
                        class="navbar-item">
                            {{s.title}}
                    </router-link>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <button type="button" class="button is-right">
                    <!-- <router-link to="/logout" class="is-light">ログアウト</router-link> -->
                    ログアウト
                </button>
            </div>
        </div>
    </div>
</nav>

