{% extends "layout.html" %}
{% block body %}
<div class="row center-block">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title text-center">お会計</h5>
            </div>
            <table class="table" data-bind="with: sales">
                <thead>
                    <tr>
                        <th class="text-center">商品</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr>
                        <td>
                            <div data-bind="text: item_name">Morning set</div>
                            <div class="text-right" data-bind="text: unit_price">1,000</div>
                        </td>
                        <td class="text-right">1,000</td>
                        <td class="text-right">1,000</td>
                        <td>
                            <!-- href ?? -->
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-minus-sign text-danger" aria-hidden="true"></span>
                            </button>
                        </td>
                </tbody>
            </table>
            <form class="form-horizontal">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label class="col-md-3 control-label">値引</label>
                        <div class="input-group">
                            <input type="number" class="form-control text-right" />
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <label class="form-label">合計</label>
                        <span class="pull-right">1,000</span>
                    </li>
                    <li class="list-group-item">
                        <label class="col-md-3 control-label">お預り</label>
                        <div class="input-group">
                            <input type="number" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <label class="form-label">おつり</label>
                        <span class="pull-right">1,000</span>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!-- item selection panel -->
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title text-center">商品選択</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="btn-toolbar">
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                        <button class="btn btn-default" type="button">Morning</button>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg">
                                Test
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg">¥割</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg">%割</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-lg">AC</button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning btn-lg">+1000</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning btn-lg">+10000</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-lg">決済</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

