{% extends "modal.html" %}
{% set modal_id = 'category_delete_modal' %}
{% block modal_content %}
<div class="modal-header bg-danger">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <span>商品カテゴリ削除</span>
    </h4>
</div>
<div class="modal-body">
    <p>データを削除しますか？</p>
    <small class="text-danger">削除したデータを元に戻すことはできません。</small>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        <span>キャンセル</span>
    </button>
    <button type="submit" class="btn btn-danger" data-bind="click: onModalClickDelete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span>削除</span>
    </button>
</div>
{% endblock %}
