{% extends "layout.html" %}
{% block body %}
<div class="row center-block">
    <div class="col-md-8 col-md-offset-2">
        <h4>商品カテゴリ一覧</h4>
    </div>
</div>
<div class="row center-block">
    <div id="category-list" class="col-md-8 col-md-offset-2">
        <div class="text-right">
            <button type="button" class="btn btn-success" data-bind="click: onShowAddDialog">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>追加</span>
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">カテゴリ名</th>
                        <th class="item-button-group"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: categories">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td class="text-center">
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bind="click: $parent.onShowEditDialog">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span>編集</span>
                            </button>
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-bind="click: $parent.onBeforeRemoveDialog">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span>削除</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include "category_edit_modal.html" %}
{% include "category_remove_modal.html" %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/model/category.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/category.js') }}"></script>
{% endblock %}
