{% extends "modal.html" %}
{% set modal_id ='category-edit-modal' %}
{% block modal_content %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span>x</span>
    </button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        商品カテゴリ設定
    </h4>
</div>
<div class="modal-body">
    <p class="text-right">
        <small>
            <span class="text-danger">*</span>…必須項目</span>
        </small>
    </p>
    <form data-bind="with: category">
        <div class="form-group">
            <label class="form-control-label">
                <span class="text-danger">*</span>
                カテゴリ名
            </label>
            <input type="text" class="form-control" data-bind="value: name" />
            <!-- ko if: $parent.errors -->
            <ul class="validation-errors" data-bind="foreach: $parent.errors.name">
                <li>
                    <small class="alert-danger error-label" data-bind="text: $data"></small>
                </li>
            </ul>
            <!-- /ko -->
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        <span>閉じる</span>
    </button>
    <button type="submit" class="btn btn-success" data-bind="click: onSave">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        <span>保存</span>
    </button>
</div>
{% endblock %}
