{% extends 'layout.html' %}
{% block body %}
<div class="row center-block">
  <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
    <h3>商品カテゴリ設定</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-right" colspan="2">
              <button type="button" class="btn btn-success" data-bind="click: onShowAddForm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新規
              </button>
            </th>
          </tr>
        </thead>
        <tbody data-bind="foreach: categories">
          <tr>
            <td>
              <p class="form-control-static" data-bind="text: name"></p>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-primary" data-bind="click:$parent. onShowEditForm">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                編集
              </button>
              <button type="button" class="btn btn-danger" data-bind="click: $parent.onShowRemoveAlert">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                削除
              </button>
            </td>
        </tbody>
      </table>
    </div> <!-- table-responsive -->
  </div> <!-- col-xs-8 etc... -->
</div> <!-- row center-block -->

{% include 'delete_confirm.html' %}
{% include 'edit_category.html' %}

{% endblock %}

{% block static %}
<script src="../static/js/app.js"></script>
<script src="../static/js/category.js"></script>
{% endblock %}
