{% extends "modal.html" %}
{% block modal_content %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span>x</span>
    </button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        商品設定
    </h4>
</div>
<div class="modal-body">
    <p class="text-right">
        <small>
            <span class="text-danger">*</span>…必須項目</span>
        </small>
    </p>
    <form>
        <div class="form-group">
            <label class="form-control-label">
                <span class="text-danger">*</span>
                商品名
            </label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label class="form-control-label">
                <span class="text-danger">*</span>
                単価
            </label>
            <input type="number" class="form-control text-right" name="unit_price" />
        </div>
        <div class="form-group">
            <label class="form-control-label">
                <span class="text-danger">*</span>
                カテゴリ
            </label>
            <select class="form-control"
                data-bind="options: categories,
                    optionsText: 'name',
                    optionsValue: 'id'
                ">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        <span>閉じる</span>
    </button>
    <button type="submit" class="btn btn-success" data-dismiss="modal">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        <span>保存</span>
    </button>
</div>
{% endblock %}
