<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">
        <!-- Bootstrap.css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Bootstrap.js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- knocout.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
        <!-- app.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <!-- utils.js -->
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.ico') }}">
        <title>Siphon</title>
    </head>
    <body>
        {% if menu is defined %}
            {% include "navigation.html" %}
        {% endif %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</html>
