{% extends "layout.html" %}
{% block body %}
<div class="row center-block">
    <div class="col-md-10 col-md-offset-1">
        <h4>今月の売上</h4>
        <form class="form-inline search-form">
            <div class="input-group">
                <input type="month" class="form-control" data-bind="value: sales_month" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" data-bind="click: onSearchMonthSales">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center alert-danger">Sun</th>
                    <th class="text-center">Mon</th>
                    <th class="text-center">Tue</th>
                    <th class="text-center">Wed</th>
                    <th class="text-center">Thu</th>
                    <th class="text-center">Fri</th>
                    <th class="text-center alert-info">Sat</th>
                </tr>
            </thead>
            <!-- ko if: noitem -->
            <tbody>
                <tr>
                    <td class="text-center" colspan="7">表示するデータがありません。</td>
                </tr>
            </tbody>
            <!-- /ko -->
            <!-- ko ifnot: noitem -->
            <tbody data-bind="foreach: monthly_sales">
                <tr data-bind="foreach: $data">
                    <td class="text-center">
                        <!-- ko if: sales_date -->
                        <div data-bind="text: sales_date"></div>
                        <a href="#" data-bind="text: amount"></a>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
            <!-- /ko -->
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/monthly_sales.js') }}"}></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monthly_sales.css') }}">
{% endblock %}
