{% extends "modal.html" %}
{% block modal_content %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span>x</span>
    </button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-warning" aria-hidden="true"></span>
        ユーザー削除
    </h4>
</div>
<div class="modal-body">
    <p>ユーザーを削除します。よろしいですか？</p>
    <small>※削除したユーザーを元に戻すことはできません。</small>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    <button type="submit" class="btn btn-success" data-dismiss="modal">保存</button>
</div>
{% endblock %}
